<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Update Profile</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control',autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="field form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Update", class: 'btn btn-primary btn-block mt-3' %>
        </div>
      <% end %>

      <h3 class="mt-3">Delete my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back, class: 'btn btn-sm btn-info' %>
    </div>
  </div>
</div>
