<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">All Comments</h4>
        <div class="row justify-content-center">
          <div class="col-md-9">
            <% if @comments.any? %>
              <table class="table table-striped table-bordered">
                <% @comments.each do |comment| %>
                  <tr>
                    <td>
                      <%= link_to comment_path(comment.id), class: 'text-dark' do %> <%= comment.text.truncate(80) %><% end %>
                      <p><strong>From:</strong> <%= comment&.user&.first_name %></p>
                      <% if comment.responses.any? %>
                        <span class="badge badge-warning"><%= pluralize(comment.responses.count, 'reply') %></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to 'Edit', edit_comment_path(comment.id), class: "btn btn-warning btn-sm" %>
                    </td>
                    <td>
                      <%= link_to 'Delete', comment_path(comment.id), class: "btn btn-danger btn-sm",method: :delete, data: { confirm: "Are you sure to delete this comment" } %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% else %>
              <hr>
              <div class="bg-info text-light p-3">No comments. Try adding comments!</div>
              <hr>
            <% end %>
            <div>
              <%= link_to 'Add Comment', new_comment_path, class: "btn btn-primary btn-sm" %>
            </div>
            <% if @comments.any? %>
              <div class="pagination-wrap mt-3">
                  <%= will_paginate @comment_responses %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
