<!DOCTYPE html>
<html>
  <head>
    <title>Comment Tree App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <%= render partial: 'shared/top_navbar' %>
    <div class="mt-100">
      <% if notice %><p class="alert alert-success text-center"><%= notice %></p><% end %>
      <% if alert %><p class="alert alert-warning text-center"><%= alert %></p><% end %>
      <%= yield %>
      <%= render partial: 'comments/modals' %>
    </div>
  </body>
</html>
