<!DOCTYPE html>
<html>
  <head>
    <title>CommentTreeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <%= yield %>
    <%= render partial: 'comments/modals' %>
  </body>
</html>
